body {
  font-size: 1rem;
  color: var(--text-color);
  font-family: "Noto Serif", serif;
  color: var(--text-color);
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;

  background-color: var(--bg);

  ul {
    list-style-type: none;
    margin-top: 17px;
    margin-bottom: 0px;
    padding-left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        
        text-decoration: none;
        color: var(--text-color);
        font-size: 24px;
        font-weight: 600;
        font-variation-settings:
          "wdth" 95%;

        img {
          max-width: 104px;
          height: auto;
        }
      }
    }
  }
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 6.875rem;
  line-height: 4.8125rem;
  letter-spacing: -.4125rem;
  color: var(--emphasis-color);

  text-align: center;

  -webkit-text-stroke: 4px var(--emphasis-color);
}

/* div {
  border: 3px solid aqua;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  margin-top: 20vh;
}

.search {
  height: 60px;
  width: 100%;
  position: relative;
  margin-top: 30px;

  svg {
    fill: var(--icon);
    height: 32px;
    width: 32px;

    position: absolute;
    left: 20px;
    top: 14px;
    bottom: 14px;
  }

  input[type="search"] {
    background-color: var(--bg-accent);
    color: var(--text-color);
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 600;
    font-variation-settings:
      "wdth" 95%;
    
    border: none;
    border-radius: 40px;
    height: 100%;
    width: 100%;

    padding-left: calc(20px + 32px + 4px);
    padding-right: 20px;
  }

  input[type="search"]::placeholder {
    color: var(--icon);
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 714px;

  input[type="submit"] {
    background-color: var(--emphasis-color);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 11px 10px;
    transition: border 0.15s;


    font-family: "Archivo Black";
    font-size: 16px;
    letter-spacing: -4%;
    color: var(--text-color);
    margin-top: 15px;
  }

  input[type="submit"]:hover {
    border: 1px solid var(--text-color);
  }
}

#site-logo {
  width: 100%;
  max-width: 571px;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
}

:root {
  --bg: #131313;
  --bg-accent: #2e2e2e;
  --icon: #595959;
  --text-color: #e8ebf7;
  --emphasis-color: #8a0202;

  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}